/* reset */
body, p { margin: 0; padding: 0; }

/* reset :  HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

a { text-decoration: none; color: currentColor; }

/* typo */
@font-face {
  font-family: 'NotoKrL';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Light'), local('NotoSans-Light'), url(../font/NotoSans/NotoSans-Light.eot);
  src: url(../font/NotoSans/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
  url(../font/NotoSans/NotoSans-Light.woff2) format('woff2'),
  url(../font/NotoSans/NotoSans-Light.woff) format('woff');;
}
@font-face {
  font-family: 'NotoKrR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(../font/NotoSans/NotoSans-Regular.eot);
  src: url(../font/NotoSans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(../font/NotoSans/NotoSans-Regular.woff2) format('woff2'),
  url(../font/NotoSans/NotoSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'NotoKrM';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../font/NotoSans/NotoSans-Medium.eot);
  src: url(../font/NotoSans/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
  url(../font/NotoSans/NotoSans-Medium.woff2) format('woff2'),
  url(../font/NotoSans/NotoSans-Medium.woff) format('woff');
}
@font-face {
  font-family: 'NotoKrB';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../font/NotoSans/NotoSans-Bold.eot);
  src: url(../font/NotoSans/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(../font/NotoSans/NotoSans-Bold.woff2) format('woff2'),
  url(../font/NotoSans/NotoSans-Bold.woff) format('woff');
}
html { font-size: 62.5%; }
body { font-size: 1.4rem; font-family: 'NotoKrL', 'Malgun Gothic', 'dotum', 'gulim' , 'sans-serif'; }

/* layout */
.l-wrapper { max-width: 1200px; margin: 0 auto; }
.main-section { padding: 10.0rem; }

/* util */
.clearfix:after { clear:both; display: block; content: ""; }
.w-100 { width: 100%; }

/* style-header */
header { box-sizing: border-box; position: fixed; z-index: 1000; padding: 0.8em 2.0em; width: 100%; background-color: transparent; color: #fff; }
.header-logo { float: left; width: 7%; }
.header-nav { float: right; }
.header-nav-item { display: inline; font-size: 1.8rem; margin: 0 0.5em; border-bottom-width: 0; }
.header-nav-item.on { border-bottom: 4px solid #0088cc; padding-bottom: 0.5em; }

/* style-home */
#home {
  position: relative;
  height: 100vh;
  background : url(../img/visual_bg.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
.home-title { 
  position: absolute;
  -webkit-transform: translate(-50%, -50%); 
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  top:50%; left: 50%;
  font-size: 1.4rem;
}
.home-title em { display: block; font-size: 5.0rem; font-style: normal; }

#about-me {
  background-color: orangered;
}

#portfolio {
  background-color: aquamarine;
}

#github {
  background-color: blueviolet;
}

#skill {
  background-color: palevioletred;
}

/* style-footer */
footer {
  padding: 1.4em;
  font-size: 1.2rem;
  background-color: #f7f7f7;
  text-align: center;
}
footer a { margin: 0 0.5em; font-size: 2.0rem; }
footer p { margin-top: 1.5em; }